.name{
    display: block;
    color: red;
    margin-top: -20px;
    margin-left: 20px;
 }

 .input-type{
    box-shadow: 0 0 3px #CC0000;
    border-color: red;
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 5;
  }
  @keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
  }
  .input-label{
    box-shadow: 0 0 3px #CC0000;
    color: #CC0000;
    height: fit-content;
    width: fit-content;
    
    border-color: red;
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 5;
  }

  div{
    background-color:lightblue;
    gap: 1rem;
    height: fit-content;
    width: fit-content;
    align-items: center;
    display: grid;
    justify-content: center;
    margin-left: 9rem;
    margin-right: 9rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    
  }

  @media only screen and (max-width: 600px) {
    div{
      background-color: lightblue;
      height: fit-content;
      width: fit-content;
      margin-left: 3rem;
      margin-right: 3rem;
      margin-bottom: 2rem;
      display: -ms-grid;
      gap: 1rem;
    }
  }

  